<main class="page-content" id="main-content">
  <div class="region-wrapper">
    <div class="region region--content">

      <div class="block block--page-title-block">
        <h1 class="page-title">Campus Directory</h1>
      </div>

      <div class="block block--system-main-block">
        <div class="layout--onecol--full">
           <div class="layout__region">

            Actual directory goes here.

            </div>
         </div>
      </div>

    </div>
  </div>
</main>
